# exact versions for dependencies for reproducible builds
save-exact=true

# ensure consistent lockfile format
package-lock=true

# use npm ci in production for clean ci/cd logs and a good security baseline
fund=false
audit-level=moderate

# performance optimizations for faster ci builds
prefer-offline=true
progress=true
